<?xml version='1.0' encoding='windows-1252'?>
<Wix xmlns='http://schemas.microsoft.com/wix/2006/wi'>
    <Product Name='AutoOCR' Id='*' UpgradeCode='39faaa1a-36fb-468d-87a4-b8b890d6226a'
        Language='1033' Codepage='1252' Version='1.0.0' Manufacturer='Matteo Bosshard'>

        <Package Id='*' Keywords='Installer' Description="AutoOCR Text Extractor"
            InstallerVersion='200' Languages='1033' Compressed='yes' SummaryCodepage='1252' Platform='x64' />

        <MajorUpgrade DowngradeErrorMessage="A newer version of AutoOCR is already installed." />
        <Media Id='1' Cabinet='AutoOCR.cab' EmbedCab='yes' />

        <WixVariable Id="WixUILicenseRtf" Value="wix\License.rtf" />

        <Directory Id='TARGETDIR' Name='SourceDir'>
            <Directory Id='ProgramFiles64Folder' Name='PFiles'>
                <Directory Id='INSTALLDIR' Name='AutoOCR'>
                    
                    <Component Id='MainExecutable' Guid='*' Win64='yes'>
                        <File Id='AutoOCREXE' Source='target\release\auto-ocr.exe' KeyPath='yes'/>
                    </Component>

                    <Component Id='AppRegistry' Guid='*'>
                        <RegistryValue Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="AutoOCR" Type="string" Value="[INSTALLDIR]auto-ocr.exe" KeyPath="yes" />
                    </Component>

                    <Component Id='AppIcon' Guid='*'>
                        <File Id='FavIcon' Source='assets\favicon.ico' KeyPath='yes'/>
                    </Component>

                    <Directory Id='TessDataDir' Name='tessdata'>
                        <Component Id='LangEng' Guid='*' Win64='yes'>
                            <File Id='eng' Source='assets\tessdata\eng.traineddata' KeyPath='yes'/>
                        </Component>
                        <Component Id='LangDeu' Guid='*' Win64='yes'>
                            <File Id='deu' Source='assets\tessdata\deu.traineddata' KeyPath='yes'/>
                        </Component>
                        <Component Id='LangHin' Guid='*' Win64='yes'>
                            <File Id='hin' Source='assets\tessdata\hin.traineddata' KeyPath='yes'/>
                        </Component>
                        <Component Id='LangPol' Guid='*' Win64='yes'>
                            <File Id='pol' Source='assets\tessdata\pol.traineddata' KeyPath='yes'/>
                        </Component>
                        <Component Id='LangRus' Guid='*' Win64='yes'>
                            <File Id='rus' Source='assets\tessdata\rus.traineddata' KeyPath='yes'/>
                        </Component>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>

        <Feature Id='Complete' Title='AutoOCR' Level='1' Display='expand' ConfigurableDirectory='INSTALLDIR'>
            <ComponentRef Id='MainExecutable' />
            <ComponentRef Id='AppRegistry' />
            <ComponentRef Id='AppIcon' />
            
            <Feature Id='Languages' 
                     Title='Language Packs' 
                     Description='Select OCR languages. To add more, download .traineddata files from https://github.com/tesseract-ocr/tessdata and place them in the [INSTALLDIR]tessdata folder.' 
                     Level='1'>
                
                <Feature Id='LangEngFeature' Title='English (Required)' AllowAdvertise='no' Absent='disallow' Level='1'>
                    <ComponentRef Id='LangEng' />
                </Feature>
            
                <Feature Id='LangDeuFeature' Title='German (Optional)' Level='1'>
                    <ComponentRef Id='LangDeu' />
                </Feature>
            
                <Feature Id='LangRusFeature' Title='Russian (Optional)' Level='2'>
                    <ComponentRef Id='LangRus' />
                </Feature>
                
                <Feature Id='LangPolFeature' Title='Polish (Optional)' Level='2'>
                    <ComponentRef Id='LangPol' />
                </Feature>
            
                <Feature Id='LangHinFeature' Title='Hindi (Optional)' Level='2'>
                    <ComponentRef Id='LangHin' />
                </Feature>
            </Feature>
        </Feature>

        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <UIRef Id="WixUI_FeatureTree" />

    </Product>
</Wix>